h2{
    color: green;
}
h1{
    color: blue;
    font-size: 12px;
    text-align: center;
}
.corLilas{
    color:rgb(156, 26, 145, 0.733);
}
#corOrange{
    color: orange;
}
*{
    color: rgb(60, 45, 65);
}
.font{
    color: black;/
    font-size: 40px;
    font-family: sans-serif;
}