h2{
    color: rgb(255, 255, 255);
}
h1{
    color: rgb(255, 255, 255);
}
p{
    color: rgb(255, 255, 255);
}
dd{
    color: white;
}
dt{
    color: white;
}
th{
    color: white;
}
li{
    color: white;
}
td{
    color: white;
}