h2{
    color: rgb(255, 255, 255);
    text-align: center;
}
h1{
    color: rgb(255, 255, 255);
    text-align: center;
}
p{
    color: rgb(255, 255, 255);
    text-align: justify;
}
img{
    text-align: center;
}
dd{
    color: white;
    text-align: justify;
    background-color: rgb(53, 30, 30);
    border: 0.3px solid;
}
dt{
    color: white;
    text-align: center;
}
tr{
    text-align: center;
}
th{
    color: white;
    text-align: center;
}
li{
    color: white;
}
td{
    color: white;
}