h2{
    color: rgb(255, 255, 255);
    text-align: center;
}
h1{
    color: rgb(255, 255, 255);
    text-align: center;
}
p{
    color: rgb(255, 255, 255);
    text-align: justify;
}
img{
    text-align: center;
}
dd{
    color: white;
}
dt{
    color: white;
}
th{
    color: white;
}
li{
    color: white;
}
td{
    color: white;
}